@import 'variable';
main {
    .followers {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 30px;
        @include respond(tablet) {
            grid-template-columns: 1fr 1fr;
        }
        @include respond(mobile) {
            grid-template-columns: 1fr;
        }
        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px;
            border-radius: 8px;
            cursor: pointer;
            background: var(--background-light-card);
            position: relative;
            &:hover {
                background: var(--background-light-card-hover);
            }
            &::before {
                content: '';
                position: absolute;
                height: 5px;
                border-radius: 8px 8px 0 0;
                left: 0;
                right: 0;
                top: 0;
            }
            &.facebook {
                &::before {
                    background: $Facebook;
                }
            }
            &.twitter {
                &::before {
                    background: $Twitter;
                }
            }
            &.instagram {
                &::before {
                    background: $Instagram;
                }
            }
            &.youtube {
                &::before {
                    background: $YouTube;
                }
            }
            .username,
            .title-card {
                display: flex;
                justify-content: center;
                color: var(--color-dark-light);
                img {
                    margin-right: 10px;
                }
            }
            .count-follow {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 25px 0;
                font-size: 1.1em;
                font-weight: 400;
                letter-spacing: 5px;
                text-transform: uppercase;
                color: var(--color-dark-light);
                span {
                    font-size: 4em;
                    font-weight: 700;
                    letter-spacing: 0;
                    color: var(--color-dark);
                }
            }
            .down {
                color: $BrightRed;
            }
            span {
                display: flex;
                align-items: center;
                color: $LimeGreen;
                font-weight: 700;
                img {
                    margin-right: 5px;
                }
            }
        }
    }
}