body.dark {
    header {
        $ToggleBtnDark: linear-gradient(to right, hsl(210, 78%, 56%) to hsl(146, 68%, 55%));
        $ColorDark: hsl(0, 0%, 100%);
        $ColorDarkLight: hsl(228, 34%, 66%);
        $BgLightCard: hsl(228, 28%, 20%);
        $BgLightCardHover: hsl(228, 26%, 26%);
        $BgLight: hsl(230, 17%, 14%);
        $BgLightop: hsl(232, 19%, 15%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2.5em 0;
        .title-box {
            .title {
                color: $ColorDark;
            }
            p {
                color: $ColorDarkLight;
                font-weight: 700;
            }
        }
        .toggle-mode {
            display: flex;
            align-items: center;
            color: $ColorDarkLight;
            font-weight: 700;
            font-size: 16px;
            input[type=checkbox] {
                -webkit-appearance: none;
                width: 90px;
                height: 40px;
                border-radius: 100px;
                margin-left: 20px;
                background: $ToggleBtnDark;
                cursor: pointer;
                outline: 0;
                position: relative;
            }
        }
    }
}