/* Primary Colors */
/* Drak Mode */
/* Light Theme */
/* Dark Theme */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
:root {
  --bakground-light: white;
  --background-light-top: #f5f7ff;
  --background-light-card: #f0f2fa;
  --background-light-card-hover: #d0d5e7;
  --color-dark: #1e202a;
  --color-dark-light: #63687e;
  --toggle-btn: #aeb3cb;
}

.dark {
  --bakground-light: #1e202a;
  --background-light-top: #1f212e;
  --background-light-card: #252a41;
  --background-light-card-hover: #313854;
  --color-dark: white;
  --color-dark-light: #8b97c6;
  --toggle-btn: linear-gradient(to right, #378fe6, #3eda82);
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  background: var(--bakground-light);
}
body .container {
  width: 80%;
  margin: 0 auto;
}

/* Primary Colors */
/* Drak Mode */
/* Light Theme */
/* Dark Theme */
:root {
  --bakground-light: white;
  --background-light-top: #f5f7ff;
  --background-light-card: #f0f2fa;
  --background-light-card-hover: #d0d5e7;
  --color-dark: #1e202a;
  --color-dark-light: #63687e;
  --toggle-btn: #aeb3cb;
}

.dark {
  --bakground-light: #1e202a;
  --background-light-top: #1f212e;
  --background-light-card: #252a41;
  --background-light-card-hover: #313854;
  --color-dark: white;
  --color-dark-light: #8b97c6;
  --toggle-btn: linear-gradient(to right, #378fe6, #3eda82);
}

/* Primary Colors */
/* Drak Mode */
/* Light Theme */
/* Dark Theme */
:root {
  --bakground-light: white;
  --background-light-top: #f5f7ff;
  --background-light-card: #f0f2fa;
  --background-light-card-hover: #d0d5e7;
  --color-dark: #1e202a;
  --color-dark-light: #63687e;
  --toggle-btn: #aeb3cb;
}

.dark {
  --bakground-light: #1e202a;
  --background-light-top: #1f212e;
  --background-light-card: #252a41;
  --background-light-card-hover: #313854;
  --color-dark: white;
  --color-dark-light: #8b97c6;
  --toggle-btn: linear-gradient(to right, #378fe6, #3eda82);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5em 0;
}
header .title-box .title {
  color: var(--color-dark);
}
header .title-box p {
  color: var(--color-dark-light);
  font-weight: 700;
}
header .toggle-mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-dark-light);
  font-weight: 700;
  font-size: 16px;
}
header .toggle-mode input[type=checkbox] {
  -webkit-appearance: none;
  width: 90px;
  height: 40px;
  border-radius: 100px;
  margin-left: 20px;
  background: var(--toggle-btn);
  cursor: pointer;
  outline: 0;
  position: relative;
}
header .toggle-mode input[type=checkbox]::before {
  content: "";
  height: 40px;
  width: 40px;
  position: absolute;
  border-radius: 50px;
  background: var(--bakground-light);
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

/* Primary Colors */
/* Drak Mode */
/* Light Theme */
/* Dark Theme */
:root {
  --bakground-light: white;
  --background-light-top: #f5f7ff;
  --background-light-card: #f0f2fa;
  --background-light-card-hover: #d0d5e7;
  --color-dark: #1e202a;
  --color-dark-light: #63687e;
  --toggle-btn: #aeb3cb;
}

.dark {
  --bakground-light: #1e202a;
  --background-light-top: #1f212e;
  --background-light-card: #252a41;
  --background-light-card-hover: #313854;
  --color-dark: white;
  --color-dark-light: #8b97c6;
  --toggle-btn: linear-gradient(to right, #378fe6, #3eda82);
}

main .followers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}
main .followers .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  border-radius: 8px;
  cursor: pointer;
  background: var(--background-light-card);
  position: relative;
}
main .followers .card:hover {
  background: var(--background-light-card-hover);
}
main .followers .card::before {
  content: "";
  position: absolute;
  height: 5px;
  border-radius: 8px 8px 0 0;
  left: 0;
  right: 0;
  top: 0;
}
main .followers .card.facebook::before {
  background: #198ff5;
}
main .followers .card.twitter::before {
  background: #1ca0f2;
}
main .followers .card.instagram::before {
  background: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996));
  background: linear-gradient(to right, #fdc468, #df4996);
}
main .followers .card.youtube::before {
  background: #c4032a;
}
main .followers .card .username,
main .followers .card .title-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--color-dark-light);
}
main .followers .card .username img,
main .followers .card .title-card img {
  margin-right: 10px;
}
main .followers .card .count-follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0;
  font-size: 1.1em;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--color-dark-light);
}
main .followers .card .count-follow span {
  font-size: 4em;
  font-weight: 700;
  letter-spacing: 0;
  color: var(--color-dark);
}
main .followers .card .down {
  color: #dc414c;
}
main .followers .card span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1db489;
  font-weight: 700;
}
main .followers .card span img {
  margin-right: 5px;
}

/* Primary Colors */
/* Drak Mode */
/* Light Theme */
/* Dark Theme */
:root {
  --bakground-light: white;
  --background-light-top: #f5f7ff;
  --background-light-card: #f0f2fa;
  --background-light-card-hover: #d0d5e7;
  --color-dark: #1e202a;
  --color-dark-light: #63687e;
  --toggle-btn: #aeb3cb;
}

.dark {
  --bakground-light: #1e202a;
  --background-light-top: #1f212e;
  --background-light-card: #252a41;
  --background-light-card-hover: #313854;
  --color-dark: white;
  --color-dark-light: #8b97c6;
  --toggle-btn: linear-gradient(to right, #378fe6, #3eda82);
}

main .overview {
  margin-top: 50px;
}
main .overview h2 {
  color: var(--color-dark);
  font-size: 1.7em;
}
main .overview .grid-overview {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}
main .overview .grid-overview .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  border-radius: 8px;
  cursor: pointer;
  background: var(--background-light-card);
  position: relative;
}
main .overview .grid-overview .card:hover {
  background: var(--background-light-card-hover);
}
main .overview .grid-overview .card .title-card {
  margin-bottom: 20px;
}
main .overview .grid-overview .card .title-card span {
  font-size: 1.1em;
  color: var(--color-dark-light);
}
main .overview .grid-overview .card .title-card,
main .overview .grid-overview .card .text-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
main .overview .grid-overview .card .text-card {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
main .overview .grid-overview .card .text-card p {
  font-size: 2.8em;
  font-weight: 700;
  color: var(--color-dark);
}/*# sourceMappingURL=style.css.map */